html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('helldivers.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}